/* -------------------------
1. Default CSS
-------------------------*/
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* -------------------------
2. Header CSS 
------------------------- */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
  z-index: 9;
}

.menubar .navbar-brand {
  max-width: 290px;
}

.menubar .navbar-brand img {
  max-width: 100%;
}

.main-menu .nav-item {
  margin: 0 25px;
}

.main-menu .nav-item:last-child {
  margin-right: 0;
}

.main-menu .nav-link {
  font-size: 16px;
  color: #3C3C3C;
  font-weight: 500;
}

.main-menu .nav-link:hover {
  color: #FABE4C;
}





/* -------------------------
3. Banner CSS 
------------------------- */
.banner {
  background-color: #FFFBF0;
  padding: 120px 0;
  position: relative;
  z-index: 1;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  background-image: url(../img/shape.svg);
  background-repeat: no-repeat;
  width: 170px;
  height: 60px;
  z-index: -1;
}

.banner-content {
  padding-top: 60px;
}

.banner-content h1 {
  font-size: 80px;
  color: #363958;
}

.banner-content h1 span {
  display: block;
  color: #FABE4C;
}

.banner-content p {
  font-size: 16px;
  line-height: 26px;
  color: #3E3E3E;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  outline: none;
  padding: 18px 33px;
  background: linear-gradient(to bottom, #A4BC46, #85A019);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}

.button:hover {
  background: linear-gradient(to top, #A4BC46, #85A019);
  color: #ffffff;
}

.button i {
  margin-right: 5px;
  font-size: 14px;
}

.banner-img img {
  max-width: 90%;
}